PORT=3000
MONGODB_URI=mongodb+srv://naswanofilia1_db_user:candra1007@gamelabmongodb.pp9wgsk.mongodb.net/?appName=gamelabmongodb
NODE_ENV=development
JWT_SECRET=naswa071029
JWT_EXPIRES_IN=1d
EXTERNAL_API_KEY=7ee03359670203912cadfb6aa069e46136700f3ee134556d60f5857ee1797edd