PORT=3000
# Ganti placeholder kredensial, host cluster, dan nama database sesuai data koneksi di MongoDB Atlas Anda.
MONGODB_URI=mongodb://naswanofilia1_db_user:candra1007@ac-shv5mpq-shard-00-00.pp9wgsk.mongodb.net:27017,ac-shv5mpq-shard-00-01.pp9wgsk.mongodb.net:27017,ac-shv5mpq-shard-00-02.pp9wgsk.mongodb.net:27017/?ssl=true&replicaSet=atlas-idnqjz-shard-0&authSource=admin&appName=gamelabmongodb
JWT_SECRET=naswa071029
JWT_EXPIRES_IN=1d
EXTERNAL_API_KEY=7ee03359670203912cadfb6aa069e46136700f3ee134556d60f5857ee1797edd

